################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
/.vs
/Kodtest-DH/bin/Debug/net6.0
/Kodtest-DH/obj
